  <div class="card shadow-lg m-4 border-round mb-8">
    <p-table
    #dt
      [value]="(claim$ | async) || []"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 30]"
      [globalFilterFields]="['claimNumber', 'identification']"
      stripedRows
      scrollHeight="430px"
      [scrollable]="true"
      size="small"
    >
      <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="16" class="text-center justify-center text-gray-500">
        <div class="flex flex-col items-center justify-center text-gray-500">
          <i class="pi pi-inbox text-4xl mb-2"></i>
          <p class="text-lg font-semibold">Sin registros</p>
          <p class="text-sm">Mejora tu búsqueda para encontrar resultados</p>
        </div>
      </td>
    </tr>
  </ng-template>
      <ng-template #header>
        <tr>
          <th style="text-align: center; background-color: #242424; color: white; border-top-left-radius: 12px;">PDF</th>
          <th style="text-align: center; background-color: #242424; color: white;">Anexo</th>
          <th style="text-align: center; background-color: #242424; color: white;">Expediente</th>
          <th style="text-align: center; background-color: #242424; color: white;">Chat</th>
          <th style="text-align: center; background-color: #242424; color: white;">Status</th>
          <th style="text-align: center; background-color: #242424; color: white;">Nro. Reclamo</th>
          <th style="text-align: center; background-color: #242424; color: white;">Fecha (Bloqueo)</th>
          <th style="text-align: center; background-color: #242424; color: white;">Fecha (Abono)</th>
          <th style="text-align: center; background-color: #242424; color: white;">Fecha (Reg)</th>
          <th style="text-align: center; background-color: #242424; color: white;">Cliente</th>
          <th style="text-align: center; background-color: #242424; color: white;">Monto</th>
          <th style="text-align: center; background-color: #242424; color: white; border-top-right-radius: 12px;">Canal</th>
        </tr>
      </ng-template>
      <ng-template #body let-claims>
        <tr class="cursor-pointer" (click)="showid(claims.id)">
          <td style="text-align: center;"><p-button (onClick)="exportPdfClaim(claims)" icon="pi pi-file-pdf" size="small" aria-label="pdf" pTooltip="Descargar pdf" tooltipPosition="top" severity="contrast"/></td>
          <td style="text-align: center;"><p-button (onClick)="showFile()" label="Ver Anexo" size="small" aria-label="anexo" pTooltip="Ver Anexo" tooltipPosition="top"/></td>
          <td style="text-align: center;"><i (onClick)="showFile()" class="pi pi-exclamation-triangle" style="color: rgb(224, 224, 64)" (click)="showDocumentation()" pTooltip="Listado de Faltantes" tooltipPosition="top"></i></td>
          <td style="text-align: center;"><p-button (onClick)="showChat()" icon="pi pi-comments" severity="info" size="small" aria-label="Chat" pTooltip="Ver Chat" tooltipPosition="top"/></td>
          <td style="text-align: center;" *ngIf="claims.status === 1"><p-splitbutton [model]="items" label="{{claims.statusName}}" [rounded]="true" severity="warn" size="small"/></td>
          <td style="text-align: center;" *ngIf="claims.status === 2"><p-button label="{{claims.statusName}}" [rounded]="true" severity="info" size="small"/></td>
          <td style="text-align: center;" *ngIf="claims.status === 3"><p-button label="{{claims.statusName}}" [rounded]="true" severity="danger" size="small"/></td>
          <td style="text-decoration: underline;" class="text-blue-600" (click)="selectedClaim(claims.id)">{{claims.claimNumber}}</td>
          <td style="text-align: center;"><p-button icon="pi pi-calendar-plus" severity="secondary" size="small" aria-label="Chat"/></td>
          <td style="text-align: center;"><p-button icon="pi pi-calendar-plus" severity="secondary" size="small" aria-label="Chat"/></td>
          <td style="text-align: center;"><p-button icon="pi pi-calendar-plus" severity="secondary" size="small" aria-label="Chat"/></td>
          <td>{{claims.clientName}}</td>
          <td style="text-align: right;">{{claims.mountTr | formatoMonto:true}}</td>
          <td style="text-align: right;"> <p-badge value="{{claims.agencyChannel}}" severity="secondary" /></td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <app-form-claim
    [VisibilityForm]="VisibilityForm"
    [idClaim]="claimId"
    (visibleChange)="hideForm()"
  />

  <app-file-modal
    [VisibilityFile]="VisibilityFile"
    (visibleChangeFile)="hideFile()"
  />

  <app-chat-modal
    [VisibilityFile]="VisibilityChat"
    (visibleChangeFile)="VisibilityChat = false"
  />

  <app-documentation-modal
    [VisibilityDocumentation]="VisibilityDocumentation"
    (visibleChangeDocumentation)="VisibilityDocumentation = false"/>

