  <div class="card shadow-lg m-4 border-round mb-8">
    <p-table
      [value]="(claim$ | async) || []"
      [tableStyle]="{ 'min-width': '50rem' }"
      showGridlines
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 30]"
      [globalFilterFields]="['name']"
      stripedRows
      scrollHeight="430px"
      [scrollable]="true"
      size="small"
    >
      <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="16" class="text-center justify-center text-gray-500">
        <div class="flex flex-col items-center justify-center text-gray-500">
          <i class="pi pi-inbox text-4xl mb-2"></i>
          <p class="text-lg font-semibold">Sin registros</p>
          <p class="text-sm">Mejora tu búsqueda para encontrar resultados</p>
        </div>
      </td>
    </tr>
  </ng-template>
      <ng-template #header>
        <tr>
          <th style="text-align: center; background-color: #242424; color: white; border-top-left-radius: 12px;">Nro. Reclamo</th>
          <th style="text-align: center; background-color: #242424; color: white;">Fecha (Creación)</th>
          <th style="text-align: center; background-color: #242424; color: white;">Status</th>
          <th style="text-align: center; background-color: #242424; color: white;">Nombre / Razón Social</th>
          <th style="text-align: center; background-color: #242424; color: white;">CI / RIF</th>
          <th style="text-align: center; background-color: #242424; color: white;">Nro. Tlf</th>
          <th style="text-align: center; background-color: #242424; color: white;">Fecha</th>
          <th style="text-align: center; background-color: #242424; color: white;">Hora</th>
          <th style="text-align: center; background-color: #242424; color: white;">Monto</th>
          <th style="text-align: center; background-color: #242424; color: white; border-top-right-radius: 12px;">Documentación</th>
        </tr>
      </ng-template>
      <ng-template #body let-claims>
        <tr class="cursor-pointer">
          <td style="text-decoration: underline;" class="text-blue-600" (click)="selectedClaim(claims.id)">{{claims.claimNumber}}</td>
          <td style="text-align: center;">{{claims.creationDate | date:'dd/MM/yyyy'}}</td>
          <td style="text-align: center;" *ngIf="claims.status === 1"><p-button label="{{claims.statusName}}" [rounded]="true" severity="warn" size="small"/></td>
          <td style="text-align: center;" *ngIf="claims.status === 2"><p-button label="{{claims.statusName}}" [rounded]="true" severity="info" size="small"/></td>
          <td style="text-align: center;" *ngIf="claims.status === 3"><p-button label="{{claims.statusName}}" [rounded]="true" severity="danger" size="small"/></td>
          <td>{{claims.name}}</td>
          <td style="text-align: right;">{{claims.identification}}</td>
          <td style="text-align: right;">{{claims.phone}}</td>
          <td style="text-align: center;">{{claims.dateOfIncident | date:'dd/MM/yyyy'}}</td>
          <td style="text-align: center;">{{claims.dateOfIncident | date:'HH:mm' }}</td>
          <td style="text-align: right;">{{claims.mount}}</td>
          <td style="text-align: center;">
            <p-button (onClick)="showFile()" icon="pi pi-file-pdf" severity="contrast" size="small" aria-label="pdf" pTooltip="Adjuntar pdf" tooltipPosition="top"/>
            <p-button (onClick)="showFile()" icon="pi pi-file-arrow-up" severity="success" size="small" aria-label="carta"  class="ml-1" pTooltip="Adjuntar Carta explicativa" tooltipPosition="top"/>
            <p-button (onClick)="showFile()" icon="pi pi-receipt" severity="info" size="small" aria-label="carta"  class="ml-1" pTooltip="Adjuntar Comprobante" tooltipPosition="top"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <app-form-claim
    [VisibilityForm]="VisibilityForm"
    [idClaim]="claimId"
    (visibleChange)="hideForm()"
  />

  <app-file-modal
    [VisibilityFile]="VisibilityFile"
    (visibleChangeFile)="hideFile()"
  />


